{% extends 'base.html.twig' %}

{% block title %} Utilisateur {% endblock %}

{% block body %}
<div class="container mt-4 main">
{% block message %}
  {% include "partiels/_message.html.twig" %}
{% endblock %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Nom et Prénom</th>
        <th scope="col">Pseudo </th>
        <th scope="col">Action </th>
      </tr>
    </thead>
    {% for user in users %}
    <tbody>
        <tr class="table-active">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.email }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.pseudo }}</td>
        <td class="">
        {% if app.user.id == user.id %}
          <a href="{{ path('user.update', { 'id': user.id }) }}" class="btn btn-primary btn-sm"> <i class="bi bi-pencil-square"></i> </a> 
        {% endif %}
        </td>
        
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
