<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Symfony {% endblock %}</title>
        <link rel="icon" href="https://img.icons8.com/nolan/64/permanent-job.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('assets/css/_bootswatch.scss') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/_variables.scss') }}">
            <link href="{{ asset('http://fonts.cdnfonts.com/css/roboto') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css') }}">
            <style>
                body {
                        font-family: 'Roboto', sans-serif;
                        font-size: 100%;
                    }
                table {
                    border-collapse: collapse;
                    border-radius: 1em;
                    overflow: hidden;
                }
                thead {
                    background-color: #a742f5;
                    color: #212529;
                    border-collapse: collapse;
                    border-radius: 1em;
                    overflow: hidden;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js.map') }}"></script>
            <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js') }}"></script>
            <script src="{{ asset('https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js') }}"></script>
            <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block head %}
            {% include "partiels/_navbar.html.twig" %}
        {% endblock %}

        {% block body %}
            {#  #}
        {% endblock %}

        {# {% block footer %}
            {% include "partiels/_footer.html.twig" %}
        {% endblock %} #}
    </body>
</html>
